{% extends "_layouts/cp" %}
{%- from "_includes/forms" import text -%}

{% set title = "Orders" | t('commerceinsights') %}
{% set selectedSubnavItem = "orders" %}
{% set url = craft.url.create %}

{% css %}
.summary-header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 2fr;
}
.ci-totals > ul {
  margin-right: 2%;
  display: block;
}
.ci-totals > ul li {
  padding: 16px 0;
}
.chart {
  margin-right: 0;
  padding-left: 2%;
}
{% endcss %}

{% block actionButton %}
    {% set ranges = {
                    'today': 'Today',
                    'this-week': 'This week',
                    'this-month': 'This month',
                    'this-quarter': 'This quarter',
                    'this-year': 'This year',
                    'yesterday': 'Yesterday',
                    'prev-week': 'Previous week',
                    'prev-month': 'Previous month',
                    'prev-quarter': 'Previous quarter',
                    'prev-year': 'Previous year',
                    '': 'Custom'
                } %}
    {% include "_includes/forms/select" with {
        id : "range",
        name: "range",
        options: ranges,
        value: range
    } %}
    {% include "_includes/forms/date" with {
        id : "rangeStart",
        name: "start",
        value: min
    } %}
    {% include "_includes/forms/date" with {
        id : "rangeEnd",
        name: "end",
        value: max|date_modify('-1 day')
    } %}
{% endblock %}

{% block content %}
    <div class="ci-spacing">

        <form method="get" class="ci-actions">
            <input type="hidden" name="formatter" value="{{ formatter }}">

            <div class="select">
                <select name="status" class="query-extra">
                    {% for status in statuses %}
                    <option
                      {% if selectedStatus == status.handle %}selected{% endif %}
                      value="{{status.handle}}">
                      {# {{status.color}} #}
                      {{status.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="ci-action-search">
                {#
                    We want to add ability to search beyond the Commerce Order model.
                    For example, we want to search by product name, SKU, category, shipping method, coupon code, etc.
                #}
                {{ text({
                    name: "q",
                    value: craft.app.request.getParam('q'),
                    placeholder: "Search"|t('app')
                }) }}
            </div>
            <div class="ci-action-actions">
                <input type="hidden" name="startDate" value=""/>
                <input type="hidden" name="endDate" value=""/>
                <a href="{{ craft.url.create.path('/admin/commerceinsights/orders/csv') }}" data-dynamic-link='{"path":"/admin/commerceinsights/orders/csv"}' class="btn">Export</a>
            </div>
        </form>

        <div class="summary-header">
          <div class="ci-totals">{{totals|raw}}</div>


          <div class="chart">
              <canvas id="chart" data-chart-data="{{ chartData|json_encode }}" data-chart-start="{{ min }}" data-chart-end="{{ max }}" data-chart-shows-currency="{{ chartShowsCurrency }}"></canvas>
          </div>
        </div>

        <div class="elements">
            {#
                The following column data should be clickable.
                - Status: when clicked, update data to filter by status with other current search values, if possible.
                - Email: when clicked, update data to filter by that email address. Maybe we can eventually add separate link to open customer's detail page.
            #}

            {{ chartTable|raw }}
        </div>
    </div>
{% endblock %}