{% extends "_layouts/cp" %}
{%- from "_includes/forms" import text -%}

{% set title = "Revenue" | t('commerceinsights') %}
{% set selectedSubnavItem = "revenue" %}
{% set url = craft.url.create %}

{% block sidebar %}
    <nav>
        <ul id="sidebar-ranges">
            <li>
                <a href="#" data-range="today">Today</a>
            </li>
            <li>
                <a href="#" data-range="this-week">This Week</a>
            </li>
            <li>
                <a href="#" data-range="this-month">This Month</a>
            </li>
            <li>
                <a href="#" data-range="this-year">This Year</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block actionButton %}
    {% set ranges = {
                    'today': 'Today',
                    'this-week': 'This week',
                    'this-month': 'This month',
                    'this-quarter': 'This quarter',
                    'this-year': 'This year',
                    'yesterday': 'Yesterday',
                    'prev-week': 'Previous week',
                    'prev-month': 'Previous month',
                    'prev-quarter': 'Previous quarter',
                    'prev-year': 'Previous year',
                    '': 'Custom'
                } %}
    {% include "_includes/forms/select" with {
        id : "range",
        name: "range",
        options: ranges
    } %}
    {% include "_includes/forms/date" with {
        id : "rangeStart",
        name: "start",
        value: min
    } %}
    {% include "_includes/forms/date" with {
        id : "rangeEnd",
        name: "end",
        value: max
    } %}
{% endblock %}

{% block content %}
    <div class="ci-spacing">
        <h2>Everything</h2>

        <p>For {start date} - {end date}, your revenue for {group} is {dollar amount}. That's up/down {difference dollar amount} ({percentage}) when compared to the previous period.

            {% if totals %}
                <ul class="ci-totals">
                    {% for key, value in totals %}
                        <li>
                            <div class="ci-total-label">{{ key }}</div>
                            <strong class="ci-total-value">{{ value }}</strong>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="chart">
                <canvas id="chart" width="900" height="300" data-chart-data="{{ chartData|json_encode }}" data-chart-start="{{ min }}" data-chart-end="{{ max }}" data-chart-shows-currency="{{ chartShowsCurrency }}"></canvas>
            </div>

            <form method="get" class="ci-actions">
                <input type="hidden" name="formatter" value="{{ formatter }}">

                <div class="ci-action-search">
                    {{ text({
                    name: "q",
                    value: craft.request.getParam('q'),
                    placeholder: "Search"|t('app'),
                    type: "hidden"
                }) }}
                </div>
                <div class="ci-action-actions">
                    <input type="hidden" name="startDate" value=""/>
                    <input type="hidden" name="endDate" value=""/>
                </div>
            </form>

            <div class="elements">
                {{ chartTable|raw }}
            </div>

        </div>

        {# Future

    <div class="ci-spacing">
        <h2>Revenue by {group}</h2>

        <p>For {start date} - {end date}, your revenue for {group} is {dollar amount}. That's up/down {difference dollar amount} ({percentage}) when compared to the previous period and up/down {difference dollar amount} ({percentage}) when compared to the previous year.

        {% if totals %}
            <ul class="ci-totals">
                {% for key, value in totals %}
                    <li>
                        <div class="ci-total-label">{{ key }}</div>
                        <strong class="ci-total-value">{{ value }}</strong>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="chart">
            <canvas id="chart" width="900" height="300" data-chart-data="{{ chartData|json_encode }}" data-chart-start="{{ min }}" data-chart-end="{{ max }}" data-chart-shows-currency="{{ chartShowsCurrency }}"></canvas>
        </div>

        <form method="get" class="ci-actions">
            <input type="hidden" name="formatter" value="{{ formatter }}">

            <div class="ci-action-search">
                {{ text({
                    name: "q",
                    value: craft.request.getParam('q'),
                    placeholder: "Search"|t('app'),
                    type: "hidden"
                }) }}
            </div>
            <div class="ci-action-actions">
                <input type="hidden" name="startDate" value=""/>
                <input type="hidden" name="endDate" value=""/>
            </div>
        </form>

    </div> #}
    {% endblock %}
